<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <head>
    <title><%= yield(:title) %> | Greetings Jesse!</title>
  </head>           

Some guff to replace placeholder text
  <a href="http://www.google.com">Rails Tutorial help page</a>.
  To get help on this sample app, see the
about the tuorial at the <a href="index1.html">feedback page</a>.

</p>
