
<div class="center jumbotron">
  <h1>Welcome to the Darkest Web Of Them ALL</h1>

  <h2>
    This is the fun home page for GOD
    <a href="http://www.railstutorial.org/">Link to God</a>
    God's personal Web application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("god.jpg", :size => "350x220", alt: "God"),
            'http://rubyonrails.org/' %>
            
<%= link_to image_tag("sample.gif", :size => "350x220", alt: "Spinner"),
            'http://rubyonrails.org/' %>            
            
<%= link_to image_tag("spinner.gif", :size => "350x220", alt: "goofball"),
            'http://rubyonrails.org/' %>                        
            
                               