<% provide(:title, "Edit user") %>
<% provide(:heading, 'Update your profile') %>
<% provide(:button_text, 'Save Changes') %>

        <%= render 'form' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  
  </div>
</div>
